

####################################################################################################################################
                                              THREE - DIMENSIONAL TIC TAC TOE
####################################################################################################################################

WELCOME - WILKOMMEN - BIENVENUE - BIENVENIDO - NAMASTE - HUANYING - HWAN YEONG - BENVENUTO - MALIAGYANG PAGDATING - KUWAKARIBISHA
 
##################################################################################################################################

THIS IS 3D - TIC TAC TOE. THE OBJECTIVE OF THE GAME IS TO GET THE HIGHEST COMBINATIONS OF THREE-IN-A-ROW PATTERNS HORIZONTALLY,
VERTICALLY, AND DIAGONALLY ACROSS THE THREE PLANES. WE UNDERSTAND THAT THIS CAN BE HARD, SO WE GIVE YOU TRIES AND HINTS TO HELP
YOU WIN. TRIES ALLOW YOU TO VISUALIZE YOUR NEXT MOVE WITHOUT ACTUALLY COMPLETING IT. HINTS WILL PLACE YOUR MARKER FOR YOU IN A 
FAVOURABLE LOCATION. BUT BE CAREFUL, BECAUSE YOU ONLY GET A LIMITED NUMBER OF IT!   

**********************************************************************************************************************************

THERE ARE THREE LEVELS IN THIS GAME : EASY | MEDIUM | HARD. IN THE EASY LEVEL, YOU RECEIVE 7 TRIES, AND 7 HINTS. IN THE MEDIUM,
YOU RECIEVE 5 TRIES AND 5 HINTS, AND 3 OF EACH IN HARD. ALSO YOU WILL RECEIVE MORE FAVOURABLE HINTS IN THE EASY LEVEL. 

THERE ARE TWO MODES OF THE GAME: NORMAL | KRAZY. NORMAL IS WHAT YOU WOULD EXPECT. WE RECOMMEND THIS VERSION FOR FIRST-TIMERS.
IN KRAZY, THINGS GET CRAZY! GET READY TO EXPECT BOMBS, SWITCHING PLANES, DISAPPEARING SQUARES AND SWAPPING CELLS! 

YOU CAN PLAY THIS GAME EITHER BY YOURSELF AGAINST THE COMPUTER OR AGAINST YOUR FRIEND (OR YOUR ENEMY). 

                                               PYTHONS GO FIRST, CAMLS FOLLOW!


                           NOW GO FORTH AND WIN THE STEAMING MUG OF JAVA! <CLICK ANYWHERE TO START>

************************************************************************************************************************************

                                         BE SURE TO THANK (OR CURSE) THE CREATORS:

                              CAROLINE CHANG | EMILY GAO | KAREN JAN | SHEETAL ATHREY | CS 3110




